In [19]:
import pandas as pd

df = pd.read_csv('tratamento_1.csv', sep=';')
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido
0,AARON RODRIGUES GOMES,EM EXERCÍCIO,MEDICO,"13.907,13","3.453,59","10.453,54"
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"4.975,59","77,50","4.898,09"
2,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"4.412,60","2.401,64","2.010,96"
3,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,CABO,"6.354,06","3.658,45","2.695,61"
4,ABDIAS COSTA DA SILVA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"5.415,70","699,48","4.716,22"
...,...,...,...,...,...,...
50095,ZULEIDE VIEIRA DA SILVA,APOSENTADO,PROFESSOR P2 30H - CLASSE I,"5.782,12","236,45","5.545,67"
50096,ZULENE AMORIM DA SILVA,AFASTADO/LICENCIADO - TRATAMENTO DE SAUDE - A,TECNICO EM ENFERMAGEM,"2.479,57","893,99","1.585,58"
50097,ZULENE DA SILVA COSTA,EM EXERCÍCIO,TECNICO EM ENFERMAGEM,"3.189,08","405,25","2.783,83"
50098,ZULENE MARQUES DE SOUZA,EM EXERCÍCIO,APOIO ADMIN. NIVEL I 25H - CLASSE I,"9.194,33","2.173,69","7.020,64"
50099,ZULENI LIMA GUIMARAES,APOSENTADO,APOIO ADMIN. NIVEL I 25H - CLASSE III,"2.465,41","71,86","2.393,55"

In [20]:
df['Cargo'] = df['Cargo'].str.strip()
df = df['Cargo']
df

0                                       MEDICO
1                          APOSENTADOS - MEDIA
2                 PROFESSOR P2 30H - CLASSE II
3                                         CABO
4        PROFESSOR N SUPERIOR-P2 CONT TEMP-25H
                         ...
50095              PROFESSOR P2 30H - CLASSE I
50096                    TECNICO EM ENFERMAGEM
50097                    TECNICO EM ENFERMAGEM
50098      APOIO ADMIN. NIVEL I 25H - CLASSE I
50099    APOIO ADMIN. NIVEL I 25H - CLASSE III
Name: Cargo, Length: 50100, dtype: object

In [ ]:
df.to_csv('saida.csv', index=False)