### Importação e Visualização

In [1]:
#Import das bibliotecas

import pandas as pd
import numpy as np
import re

In [3]:
#Ler o arquivo
#update df set Situação = trim(Situação)

df = pd.read_csv("tratamento_1.csv", sep=';')
df['id'] = range(len(df))
df['Situação'] = df['Situação'].str.strip()
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
0,AARON RODRIGUES GOMES,EM EXERCÍCIO,MEDICO,"13.907,13","3.453,59","10.453,54",0
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"4.975,59","77,50","4.898,09",1
2,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"4.412,60","2.401,64","2.010,96",2
3,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,CABO,"6.354,06","3.658,45","2.695,61",3
4,ABDIAS COSTA DA SILVA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"5.415,70","699,48","4.716,22",4
...,...,...,...,...,...,...,...
50095,ZULEIDE VIEIRA DA SILVA,APOSENTADO,PROFESSOR P2 30H - CLASSE I,"5.782,12","236,45","5.545,67",50095
50096,ZULENE AMORIM DA SILVA,AFASTADO/LICENCIADO - TRATAMENTO DE SAUDE - A,TECNICO EM ENFERMAGEM,"2.479,57","893,99","1.585,58",50096
50097,ZULENE DA SILVA COSTA,EM EXERCÍCIO,TECNICO EM ENFERMAGEM,"3.189,08","405,25","2.783,83",50097
50098,ZULENE MARQUES DE SOUZA,EM EXERCÍCIO,APOIO ADMIN. NIVEL I 25H - CLASSE I,"9.194,33","2.173,69","7.020,64",50098
50099,ZULENI LIMA GUIMARAES,APOSENTADO,APOIO ADMIN. NIVEL I 25H - CLASSE III,"2.465,41","71,86","2.393,55",50099

### Tratamento de colunas com dados repetidos

In [4]:
#Copiar para um novo dataframe os que estão a coluna SITUAÇÃO errada

df_tratar = df[df['Líquido'].isnull()]
df_tratar

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
2959,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO OPE...,NaN,"74,54","4,34","70,20",NaN,2959
3249,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDID...,NaN,"34.321,03","12.206,29","22.114,74",NaN,3249
4905,ANTONIO PINTO DE LIMA JUNIOR CEDIDO DATILOGRAFO,NaN,"2.156,72","738,91","1.417,81",NaN,4905
8432,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,NaN,"1.334,20","79,06","1.255,14",NaN,8432
8785,DAVID LAERTE VIEIRA CEDIDO PROCURADOR DO ESTAD...,NaN,"39.633,08","15.845,59","23.787,49",NaN,8785
12847,EVANDRO LUZIA TEIXEIRA CEDIDO GESTOR DE POLITI...,NaN,"9.459,73","4.750,76","4.708,97",NaN,12847
15993,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,NaN,"11.106,13","2.709,17","8.396,96",NaN,15993
16233,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO ESPECIA...,NaN,"11.167,19","6.048,84","5.118,35",NaN,16233
16249,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO ECO...,NaN,"5.169,08","2.004,30","3.164,78",NaN,16249
16560,GABRIEL ISAAC DO VALE ISRAEL CEDIDO ENGENHEIRO...,NaN,"10.068,32","3.806,61","6.261,71",NaN,16560
16594,GABRIELA LIMA GEBER EXONERADO/RESCISO ORIENTAD...,NaN,"586,80","162,37","424,43",NaN,16594
18236,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO SECR...,NaN,"5.230,46","968,82","4.261,64",NaN,18236
18453,IARA GUEDES BEZERRA CEDIDO GESTOR DE POLITICAS...,NaN,"12.087,19","3.664,16","8.423,03",NaN,18453
18973,IRISNAILA LIMA BELEM CEDIDO GESTOR DE POLITICA...,NaN,"5.953,75","1.889,55","4.064,20",NaN,18973
20159,JANAINA GUEDES BEZERRA DOURADO CEDIDO GESTOR D...,NaN,"9.294,16","2.946,11","6.348,05",NaN,20159
22522,JOSE CLAUDIO SILVA DE SOUSA CEDIDO ARTIFICE DE...,NaN,"2.901,93","1.049,26","1.852,67",NaN,22522
25101,KEULY TAVARES QUEIROZ COSTA CEDIDO GESTOR DE P...,NaN,"11.667,19","6.595,13","5.072,06",NaN,25101
26504,LUCIA NASSERALA VERA DA COSTA CEDIDO GESTOR DE...,NaN,"11.667,19","7.463,85","4.203,34",NaN,26504
26915,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO CAR...,NaN,"5.618,49","967,53","4.650,96",NaN,26915
28747,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO...,NaN,"10.485,40","3.003,77","7.481,63",NaN,28747
36782,MARILENE DA SILVA LIMA CEDIDO GESTOR DE POLITI...,NaN,"12.645,54","4.661,38","7.984,16",NaN,36782
37524,MARLY DA COSTA ALENCAR SILVA CEDIDO GESTOR DE ...,NaN,"12.087,19","6.987,82","5.099,37",NaN,37524
38284,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCI...,NaN,"5.614,04","961,38","4.652,66",NaN,38284
38811,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCI...,NaN,"5.744,55","1.088,38","4.656,17",NaN,38811
40655,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO CAR...,NaN,"5.361,58","951,89","4.409,69",NaN,40655
40836,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,NaN,"13.487,19","5.232,13","8.255,06",NaN,40836
41144,RAFAEL MARCOS COSTA PIMENTEL CEDIDO DELEGADO C...,NaN,"30.476,03","16.205,65","14.270,38",NaN,41144
42949,REJANEA MOURA DE BRITO SOUZA CEDIDO GESTOR DE ...,NaN,"12.087,19","6.604,19","5.483,00",NaN,42949
43601,RODOLFO QUIROGA ELIAS CEDIDO ARQUITETO,NaN,"9.821,00","3.906,14","5.914,86",NaN,43601
44956,SABRINA SILVA DE SOUZA JUCA CEDIDO GESTOR DE P...,NaN,"6.782,78","1.475,48","5.307,30",NaN,44956
45360,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,NaN,"7.514,04","1.936,10","5.577,94",NaN,45360
46092,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,NaN,"9.771,30","3.063,28","6.708,02",NaN,46092
47664,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO AGENTE...,NaN,"4.010,68","1.071,93","2.938,75",NaN,47664
47811,THIAGO ANDRE REGO CHAVES CEDIDO ESPECIALISTA E...,NaN,"9.771,30","5.266,85","4.504,45",NaN,47811
48453,VALMIRA BRAGA E SILVA EXONERADO/RESCISO ASSIST...,NaN,"5.614,04","961,38","4.652,66",NaN,48453
48537,VANDER MAGALHAES NICACIO CEDIDO ESPECIALISTA E...,NaN,"11.167,19","6.204,91","4.962,28",NaN,48537
49224,WAGNER SOARES DE SOUZA CEDIDO GESTOR DE POLITI...,NaN,"10.691,30","6.064,93","4.626,37",NaN,49224

In [102]:
#Realocar as colunas paras as posições certas

df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\1270212053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,EM EXERCÍCIO CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [103]:
#Tratar a Coluna Cargo

palavras_a_remover_0 = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO']
for palavra in palavras_a_remover_0:
    df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3213047085.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,- LICENCA MATERNIDADE 180 CARGO EM COMISSAO -...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [104]:
#Tratar a coluna Situação

palavras_a_remover_1 = df_tratar['Cargo']

# Aplicar a remoção das palavras à coluna 'Situação'
for palavra in palavras_a_remover_1:
    df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3685544799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO,ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO,PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180,- LICENCA MATERNIDADE 180 CARGO EM COMISSAO -...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO,GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [105]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []

### Final - Salvando Arquivo

In [106]:
#excluir a coluna ID e salvar o arquivo Finalizado

df.drop(columns=['id'], inplace=True)

df.update(df_tratar)

df.to_csv('Bases/acre_boladao_DEZ_2023_tratado.csv', index=False, sep=';')

### Outros Testes

In [107]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []

In [108]:
df_tratar_2['Situação'] = df_tratar_2['Nome']
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []