### Importação e Visualização

In [99]:
#Import das bibliotecas

import pandas as pd
import numpy as np
import re

In [100]:
#Ler o arquivo
#update df set Situação = trim(Situação)

df = pd.read_csv("Bases/acre_boladao_DEZ_2023.csv", sep=',')
df['id'] = range(len(df))
df['Situação'] = df['Situação'].str.strip()
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
0,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"5.329,95","2.694,67","2.635,28",0
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"5.228,35","902,93","4.325,42",1
2,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,3º SARGENTO NIVEL A,"8.062,38","3.859,75","4.202,63",2
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",NaN,3
4,ABDIAS PINHEIRO MAIA,EM EXERCÍCIO,AGENTE DE SAUDE PUBLICA,"5.206,64","371,68","4.834,96",4
...,...,...,...,...,...,...,...
54237,ZAQUEU ARRUDA DE ARAUJO,EM EXERCÍCIO,AUXILIAR OPERACIONAL DE SERV DIVERSOS,"2.915,88","903,58","2.012,30",54237
54238,ZAQUEU DA SILVA RAMOS,EM EXERCÍCIO,AUXILIAR DE ENFERMAGEM,"6.877,84","3.164,33","3.713,51",54238
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",NaN,54239
54240,ZAQUEU LIMA FERREIRA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"6.534,99","1.291,12","5.243,87",54240
54241,ZAQUILENE PEREIRA SANTIAGO,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"3.725,40","349,61","3.375,79",54241

### Tratamento de colunas com dados repetidos

In [101]:
#Copiar para um novo dataframe os que estão a coluna SITUAÇÃO errada

df_tratar = df[df['Líquido'].isnull()]
df_tratar

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",NaN,3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",NaN,19
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",NaN,27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",NaN,28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",NaN,29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",NaN,54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",NaN,54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,"4.651,61","603,48","4.048,13",NaN,54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",NaN,54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",NaN,54239

In [102]:
#Realocar as colunas paras as posições certas

df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\1270212053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,EM EXERCÍCIO CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [103]:
#Tratar a Coluna Cargo

palavras_a_remover_0 = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO']
for palavra in palavras_a_remover_0:
    df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3213047085.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO ESTAGIARIO NIVEL SUPERIOR,ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO PERITO CRIMINAL CLASSE ESPECIAL,PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180 ...,- LICENCA MATERNIDADE 180 CARGO EM COMISSAO -...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO GESTOR DE POLITICAS PUBLICAS,GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-3,CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [104]:
#Tratar a coluna Situação

palavras_a_remover_1 = df_tratar['Cargo']

# Aplicar a remoção das palavras à coluna 'Situação'
for palavra in palavras_a_remover_1:
    df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3685544799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
3,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.746,28","564,56","2.181,72",3
19,ABIGAIL COSTA NERI,EM EXERCÍCIO,ESTAGIARIO NIVEL SUPERIOR,"1.000,00","0,00","1.000,00",19
27,ABILIO BENTO FILHO,EM EXERCÍCIO,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
...,...,...,...,...,...,...,...
54225,ZAIRA SMANGOSZEVSKI,APOSENTADO,PERITO CRIMINAL CLASSE ESPECIAL,"29.497,60","16.618,15","12.879,45",54225
54227,ZAIRE PEREIRA MEDALHA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",54227
54230,ZANDRA PILAR VELA NAVARRO,AFASTADO/LICENCIADO - LICENCA MATERNIDADE 180,- LICENCA MATERNIDADE 180 CARGO EM COMISSAO -...,"4.651,61","603,48","4.048,13",54230
54233,ZANIR NILSON DO NASCIMENTO DUARTE,EM EXERCÍCIO,GESTOR DE POLITICAS PUBLICAS,"13.814,68","8.602,25","5.212,43",54233
54239,ZAQUEU DE MOURA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-3,"3.521,71","309,89","3.211,82",54239

In [105]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []

### Final - Salvando Arquivo

In [106]:
#excluir a coluna ID e salvar o arquivo Finalizado

df.drop(columns=['id'], inplace=True)

df.update(df_tratar)

df.to_csv('Bases/acre_boladao_DEZ_2023_tratado.csv', index=False, sep=';')

### Outros Testes

In [107]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []

In [108]:
df_tratar_2['Situação'] = df_tratar_2['Nome']
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []