### Importação e Visualização

In [2]:
#Import das bibliotecas

import pandas as pd
import numpy as np
import re

In [31]:
#Ler o arquivo
#update df set Situação = trim(Situação)

df = pd.read_csv("Bases/acre_boladao_JUN_2023.csv", sep=',')
df['id'] = range(len(df))
df['Situação'] = df['Situação'].str.strip()
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
0,AARON RODRIGUES GOMES,EM EXERCÍCIO,MEDICO,"27.798,18","7.147,84","20.650,34",0
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"4.975,59","364,80","4.610,79",1
2,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"5.329,95","2.599,55","2.730,40",2
3,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,3º SARGENTO NIVEL A,"12.366,86","4.268,13","8.098,73",3
4,ABDIAS COSTA DA SILVA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"7.041,88","2.295,00","4.746,88",4
...,...,...,...,...,...,...,...
53685,ZULENI LOURENCO MAIA,APOSENTADO,PROFESSOR P2 30H - CLASSE I,"6.984,18","2.189,98","4.794,20",53685
53686,ZULENI LOURENCO MAIA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"3.890,67","390,53","3.500,14",53686
53687,ZULIMA DE LIMA E SILVA,PENSIONISTA,PENSIONISTA,"888,60","0,00","888,60",53687
53688,ZULINA DA SILVA COSTA,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"7.507,99","2.703,14","4.804,85",53688
53689,ZULMIRA PATRICIA DA SILVA,APOSENTADO,AUXILIAR OPERACIONAL DE SERV DIVERSOS,"1.699,15","452,52","1.246,63",53689

### Tratamento de colunas com dados repetidos

In [32]:
#Copiar para um novo dataframe os que estão a coluna SITUAÇÃO errada

df_tratar = df[df['Líquido'].isnull()]
df_tratar

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",NaN,5
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",NaN,27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",NaN,28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",NaN,29
36,ABRAAO DA SILVA LIMA,EM EXERCÍCIO CAPITAO,"15.481,52","7.562,31","7.919,21",NaN,36
...,...,...,...,...,...,...,...
53587,ZILDA JUCILANE BORDINHAO SOARES,EM EXERCÍCIO CARGO EM COMISSAO - CAS-6,"7.376,70","1.608,02","5.768,68",NaN,53587
53604,ZILMA GOMES CAVALCANTE,EM EXERCÍCIO SERVICOS GERAIS - CODISACRE,"2.496,53","554,83","1.941,70",NaN,53604
53608,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,"4.168,31","307,54","3.860,77",NaN,53608
53650,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.866,35","148,17","1.718,18",NaN,53650
53660,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,"13.690,22","6.969,89","6.720,33",NaN,53660

In [33]:
#Realocar as colunas paras as posições certas

df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\1270212053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",5
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,EM EXERCÍCIO CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
36,ABRAAO DA SILVA LIMA,EM EXERCÍCIO CAPITAO,EM EXERCÍCIO CAPITAO,"15.481,52","7.562,31","7.919,21",36
...,...,...,...,...,...,...,...
53587,ZILDA JUCILANE BORDINHAO SOARES,EM EXERCÍCIO CARGO EM COMISSAO - CAS-6,EM EXERCÍCIO CARGO EM COMISSAO - CAS-6,"7.376,70","1.608,02","5.768,68",53587
53604,ZILMA GOMES CAVALCANTE,EM EXERCÍCIO SERVICOS GERAIS - CODISACRE,EM EXERCÍCIO SERVICOS GERAIS - CODISACRE,"2.496,53","554,83","1.941,70",53604
53608,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,EM EXERCÍCIO DATILOGRAFO,"4.168,31","307,54","3.860,77",53608
53650,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.866,35","148,17","1.718,18",53650
53660,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,APOSENTADO GESTOR DE POLITICAS PUBLICAS,"13.690,22","6.969,89","6.720,33",53660

In [34]:
#Tratar a Coluna Cargo

palavras_a_remover_0 = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO']
for palavra in palavras_a_remover_0:
    df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3213047085.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",5
27,ABILIO BENTO FILHO,EM EXERCÍCIO CAS2 - FEM - LEI Nº 427,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO CEC-4 - CAGEACRE,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
36,ABRAAO DA SILVA LIMA,EM EXERCÍCIO CAPITAO,CAPITAO,"15.481,52","7.562,31","7.919,21",36
...,...,...,...,...,...,...,...
53587,ZILDA JUCILANE BORDINHAO SOARES,EM EXERCÍCIO CARGO EM COMISSAO - CAS-6,CARGO EM COMISSAO - CAS-6,"7.376,70","1.608,02","5.768,68",53587
53604,ZILMA GOMES CAVALCANTE,EM EXERCÍCIO SERVICOS GERAIS - CODISACRE,SERVICOS GERAIS - CODISACRE,"2.496,53","554,83","1.941,70",53604
53608,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,DATILOGRAFO,"4.168,31","307,54","3.860,77",53608
53650,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.866,35","148,17","1.718,18",53650
53660,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,GESTOR DE POLITICAS PUBLICAS,"13.690,22","6.969,89","6.720,33",53660

In [35]:
#Tratar a coluna Situação

palavras_a_remover_1 = df_tratar['Cargo']

# Aplicar a remoção das palavras à coluna 'Situação'
for palavra in palavras_a_remover_1:
    df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\3685544799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.746,28","189,56","2.556,72",5
27,ABILIO BENTO FILHO,EM EXERCÍCIO,CAS2 - FEM - LEI Nº 427,"2.746,28","189,56","2.556,72",27
28,ABILIO CLOVIS SILVA,EM EXERCÍCIO,CEC-4 - CAGEACRE,"4.651,61","603,48","4.048,13",28
29,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO,CEC-5 - L1688/05 ACREPREVIDENCIA,"6.086,16","1.144,14","4.942,02",29
36,ABRAAO DA SILVA LIMA,EM EXERCÍCIO,CAPITAO,"15.481,52","7.562,31","7.919,21",36
...,...,...,...,...,...,...,...
53587,ZILDA JUCILANE BORDINHAO SOARES,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-6,"7.376,70","1.608,02","5.768,68",53587
53604,ZILMA GOMES CAVALCANTE,EM EXERCÍCIO,SERVICOS GERAIS - CODISACRE,"2.496,53","554,83","1.941,70",53604
53608,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO,DATILOGRAFO,"4.168,31","307,54","3.860,77",53608
53650,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO,VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.866,35","148,17","1.718,18",53650
53660,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO,GESTOR DE POLITICAS PUBLICAS,"13.690,22","6.969,89","6.720,33",53660

In [29]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2

Empty DataFrame
Columns: [Nome, Situação, Cargo, Bruto, Desconto, Líquido, id]
Index: []

### Final - Salvando Arquivo

In [30]:
#excluir a coluna ID e salvar o arquivo Finalizado

df.drop(columns=['id'], inplace=True)

df.update(df_tratar)

df.to_csv('Bases/acre_boladao_MAI_2023_tratado.csv', index=False, sep=';')

### Outros Testes

In [8]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']
df_tratar_2

C:\Users\abner\AppData\Local\Temp\ipykernel_15792\1562671528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
2959,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO OPE...,,,"74,54","4,34","70,20",2959
3249,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDID...,,,"34.321,03","12.206,29","22.114,74",3249
4905,ANTONIO PINTO DE LIMA JUNIOR CEDIDO DATILOGRAFO,,,"2.156,72","738,91","1.417,81",4905
8432,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,,,"1.334,20","79,06","1.255,14",8432
8785,DAVID LAERTE VIEIRA CEDIDO PROCURADOR DO ESTAD...,,,"39.633,08","15.845,59","23.787,49",8785
12847,EVANDRO LUZIA TEIXEIRA CEDIDO GESTOR DE POLITI...,,,"9.459,73","4.750,76","4.708,97",12847
15993,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,,,"11.106,13","2.709,17","8.396,96",15993
16233,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO ESPECIA...,,,"11.167,19","6.048,84","5.118,35",16233
16249,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO ECO...,,,"5.169,08","2.004,30","3.164,78",16249
16560,GABRIEL ISAAC DO VALE ISRAEL CEDIDO ENGENHEIRO...,,,"10.068,32","3.806,61","6.261,71",16560
16594,GABRIELA LIMA GEBER EXONERADO/RESCISO ORIENTAD...,,,"586,80","162,37","424,43",16594
18236,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO SECR...,,,"5.230,46","968,82","4.261,64",18236
18453,IARA GUEDES BEZERRA CEDIDO GESTOR DE POLITICAS...,,,"12.087,19","3.664,16","8.423,03",18453
18973,IRISNAILA LIMA BELEM CEDIDO GESTOR DE POLITICA...,,,"5.953,75","1.889,55","4.064,20",18973
20159,JANAINA GUEDES BEZERRA DOURADO CEDIDO GESTOR D...,,,"9.294,16","2.946,11","6.348,05",20159
22522,JOSE CLAUDIO SILVA DE SOUSA CEDIDO ARTIFICE DE...,,,"2.901,93","1.049,26","1.852,67",22522
25101,KEULY TAVARES QUEIROZ COSTA CEDIDO GESTOR DE P...,,,"11.667,19","6.595,13","5.072,06",25101
26504,LUCIA NASSERALA VERA DA COSTA CEDIDO GESTOR DE...,,,"11.667,19","7.463,85","4.203,34",26504
26915,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO CAR...,,,"5.618,49","967,53","4.650,96",26915
28747,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO...,,,"10.485,40","3.003,77","7.481,63",28747
36782,MARILENE DA SILVA LIMA CEDIDO GESTOR DE POLITI...,,,"12.645,54","4.661,38","7.984,16",36782
37524,MARLY DA COSTA ALENCAR SILVA CEDIDO GESTOR DE ...,,,"12.087,19","6.987,82","5.099,37",37524
38284,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCI...,,,"5.614,04","961,38","4.652,66",38284
38811,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCI...,,,"5.744,55","1.088,38","4.656,17",38811
40655,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO CAR...,,,"5.361,58","951,89","4.409,69",40655
40836,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,,,"13.487,19","5.232,13","8.255,06",40836
41144,RAFAEL MARCOS COSTA PIMENTEL CEDIDO DELEGADO C...,,,"30.476,03","16.205,65","14.270,38",41144
42949,REJANEA MOURA DE BRITO SOUZA CEDIDO GESTOR DE ...,,,"12.087,19","6.604,19","5.483,00",42949
43601,RODOLFO QUIROGA ELIAS CEDIDO ARQUITETO,,,"9.821,00","3.906,14","5.914,86",43601
44956,SABRINA SILVA DE SOUZA JUCA CEDIDO GESTOR DE P...,,,"6.782,78","1.475,48","5.307,30",44956
45360,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,,,"7.514,04","1.936,10","5.577,94",45360
46092,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,,,"9.771,30","3.063,28","6.708,02",46092
47664,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO AGENTE...,,,"4.010,68","1.071,93","2.938,75",47664
47811,THIAGO ANDRE REGO CHAVES CEDIDO ESPECIALISTA E...,,,"9.771,30","5.266,85","4.504,45",47811
48453,VALMIRA BRAGA E SILVA EXONERADO/RESCISO ASSIST...,,,"5.614,04","961,38","4.652,66",48453
48537,VANDER MAGALHAES NICACIO CEDIDO ESPECIALISTA E...,,,"11.167,19","6.204,91","4.962,28",48537
49224,WAGNER SOARES DE SOUZA CEDIDO GESTOR DE POLITI...,,,"10.691,30","6.064,93","4.626,37",49224

In [24]:
df_tratar_2['Situação'] = df_tratar_2['Nome']
df_tratar_2

C:\Users\abner\AppData\Local\Temp\ipykernel_21492\569472362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar_2['Situação'] = df_tratar_2['Nome']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
2959,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO,,"74,54","4,34","70,20",2959
3249,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDIDO,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDIDO,,"34.321,03","12.206,29","22.114,74",3249
4905,ANTONIO PINTO DE LIMA JUNIOR CEDIDO,ANTONIO PINTO DE LIMA JUNIOR CEDIDO,,"2.156,72","738,91","1.417,81",4905
8432,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,,"1.334,20","79,06","1.255,14",8432
8785,DAVID LAERTE VIEIRA CEDIDO,DAVID LAERTE VIEIRA CEDIDO,,"39.633,08","15.845,59","23.787,49",8785
12847,EVANDRO LUZIA TEIXEIRA CEDIDO,EVANDRO LUZIA TEIXEIRA CEDIDO,,"9.459,73","4.750,76","4.708,97",12847
15993,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,,"11.106,13","2.709,17","8.396,96",15993
16233,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO,,"11.167,19","6.048,84","5.118,35",16233
16249,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO,,"5.169,08","2.004,30","3.164,78",16249
16560,GABRIEL ISAAC DO VALE ISRAEL CEDIDO,GABRIEL ISAAC DO VALE ISRAEL CEDIDO,,"10.068,32","3.806,61","6.261,71",16560
16594,GABRIELA LIMA GEBER EXONERADO/RESCISO,GABRIELA LIMA GEBER EXONERADO/RESCISO,,"586,80","162,37","424,43",16594
18236,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO,,"5.230,46","968,82","4.261,64",18236
18453,IARA GUEDES BEZERRA CEDIDO,IARA GUEDES BEZERRA CEDIDO,,"12.087,19","3.664,16","8.423,03",18453
18973,IRISNAILA LIMA BELEM CEDIDO,IRISNAILA LIMA BELEM CEDIDO,,"5.953,75","1.889,55","4.064,20",18973
20159,JANAINA GUEDES BEZERRA DOURADO CEDIDO,JANAINA GUEDES BEZERRA DOURADO CEDIDO,,"9.294,16","2.946,11","6.348,05",20159
22522,JOSE CLAUDIO SILVA DE SOUSA CEDIDO,JOSE CLAUDIO SILVA DE SOUSA CEDIDO,,"2.901,93","1.049,26","1.852,67",22522
25101,KEULY TAVARES QUEIROZ COSTA CEDIDO,KEULY TAVARES QUEIROZ COSTA CEDIDO,,"11.667,19","6.595,13","5.072,06",25101
26504,LUCIA NASSERALA VERA DA COSTA CEDIDO,LUCIA NASSERALA VERA DA COSTA CEDIDO,,"11.667,19","7.463,85","4.203,34",26504
26915,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO,,"5.618,49","967,53","4.650,96",26915
28747,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO,,"10.485,40","3.003,77","7.481,63",28747
36782,MARILENE DA SILVA LIMA CEDIDO,MARILENE DA SILVA LIMA CEDIDO,,"12.645,54","4.661,38","7.984,16",36782
37524,MARLY DA COSTA ALENCAR SILVA CEDIDO,MARLY DA COSTA ALENCAR SILVA CEDIDO,,"12.087,19","6.987,82","5.099,37",37524
38284,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCISO,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCISO,,"5.614,04","961,38","4.652,66",38284
38811,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCISO,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCISO,,"5.744,55","1.088,38","4.656,17",38811
40655,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO,,"5.361,58","951,89","4.409,69",40655
40836,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,,"13.487,19","5.232,13","8.255,06",40836
41144,RAFAEL MARCOS COSTA PIMENTEL CEDIDO,RAFAEL MARCOS COSTA PIMENTEL CEDIDO,,"30.476,03","16.205,65","14.270,38",41144
42949,REJANEA MOURA DE BRITO SOUZA CEDIDO,REJANEA MOURA DE BRITO SOUZA CEDIDO,,"12.087,19","6.604,19","5.483,00",42949
43601,RODOLFO QUIROGA ELIAS CEDIDO,RODOLFO QUIROGA ELIAS CEDIDO,,"9.821,00","3.906,14","5.914,86",43601
44956,SABRINA SILVA DE SOUZA JUCA CEDIDO,SABRINA SILVA DE SOUZA JUCA CEDIDO,,"6.782,78","1.475,48","5.307,30",44956
45360,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,,"7.514,04","1.936,10","5.577,94",45360
46092,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,,"9.771,30","3.063,28","6.708,02",46092
47664,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO,,"4.010,68","1.071,93","2.938,75",47664
47811,THIAGO ANDRE REGO CHAVES CEDIDO,THIAGO ANDRE REGO CHAVES CEDIDO,,"9.771,30","5.266,85","4.504,45",47811
48453,VALMIRA BRAGA E SILVA EXONERADO/RESCISO,VALMIRA BRAGA E SILVA EXONERADO/RESCISO,,"5.614,04","961,38","4.652,66",48453
48537,VANDER MAGALHAES NICACIO CEDIDO,VANDER MAGALHAES NICACIO CEDIDO,,"11.167,19","6.204,91","4.962,28",48537
49224,WAGNER SOARES DE SOUZA CEDIDO,WAGNER SOARES DE SOUZA CEDIDO,,"10.691,30","6.064,93","4.626,37",49224