In [1]:
#Import das bibliotecas

import pandas as pd
import numpy as np
import re

In [2]:
#Ler o arquivo
#update df set Situação = trim(Situação)

df = pd.read_csv("Bases/acre_boladao_FEV_2023.csv", sep=',')
df['id'] = range(len(df))
df['Situação'] = df['Situação'].str.strip()
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
0,AARON RODRIGUES GOMES,EM EXERCÍCIO,MEDICO,"22.907,13","5.928,59","16.978,54",0
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"4.975,59","77,50","4.898,09",1
2,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"4.412,60","2.401,64","2.010,96",2
3,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,ALUNO SARGENTO,"6.545,05","3.449,14","3.095,91",3
4,ABDIAS COSTA DA SILVA,EXONERADO/RESCISO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"3.428,96","265,01","3.163,95",4
...,...,...,...,...,...,...,...
52755,ZULENE DA SILVA COSTA,EM EXERCÍCIO,TECNICO EM ENFERMAGEM,"3.261,08","410,65","2.850,43",52755
52756,ZULENE MARQUES DE SOUZA,EM EXERCÍCIO,APOIO ADMIN. NIVEL I 25H - CLASSE I,"11.859,59","2.906,64","8.952,95",52756
52757,ZULENI LIMA GUIMARAES,APOSENTADO,APOIO ADMIN. NIVEL I 25H - CLASSE III,"2.465,41","71,86","2.393,55",52757
52758,ZULENI LOURENCO MAIA,EXONERADO/RESCISO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"2.735,63","214,44","2.521,19",52758
52759,ZULENI LOURENCO MAIA,APOSENTADO,PROFESSOR P2 30H - CLASSE I,"5.782,12","1.790,98","3.991,14",52759

In [3]:
#Copiar para um novo dataframe os que estão a coluna SITUAÇÃO errada

df_tratar = df[df['Líquido'].isnull()]
df_tratar

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.633,82","189,47","2.444,35",NaN,5
27,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"5.812,23","1.034,80","4.777,43",NaN,27
43,ABRAAO ELIAS ABUGOCHE PAES LEME,EM EXERCÍCIO CARGO EM COMISSAO DE DIRECAO - DAE-2,"17.529,67","4.471,79","13.057,88",NaN,43
96,ADAILDO SOARES DA SILVA,APOSENTADO MAJOR,"18.691,09","3.932,60","14.758,49",NaN,96
97,ADAILDO TAVARES DE SOUZA,EM EXERCÍCIO PEDREIRO,"7.692,73","651,63","7.041,10",NaN,97
...,...,...,...,...,...,...,...
52681,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,"2.147,28","257,58","1.889,70",NaN,52681
52704,ZIRLANDIA DE LUCENA PINHEIRO SOUZA,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,"1.492,40","84,63","1.407,77",NaN,52704
52712,ZOZIMO GARCIAS MELO,EM EXERCÍCIO CEC-3 - L1911/07 IMAC,"4.670,53","1.549,36","3.121,17",NaN,52712
52723,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.302,00","97,65","1.204,35",NaN,52723
52733,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,"13.028,39","6.731,03","6.297,36",NaN,52733

In [4]:
#Realocar as colunas paras as posições certas

df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_18748\1270212053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Líquido'], df_tratar['Bruto'], df_tratar['Desconto'], df_tratar['Cargo'] = df_tratar['Desconto'], df_tratar['Cargo'], df_tratar['Bruto'], df_tratar['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,"2.633,82","189,47","2.444,35",5
27,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,"5.812,23","1.034,80","4.777,43",27
43,ABRAAO ELIAS ABUGOCHE PAES LEME,EM EXERCÍCIO CARGO EM COMISSAO DE DIRECAO - DAE-2,EM EXERCÍCIO CARGO EM COMISSAO DE DIRECAO - DAE-2,"17.529,67","4.471,79","13.057,88",43
96,ADAILDO SOARES DA SILVA,APOSENTADO MAJOR,APOSENTADO MAJOR,"18.691,09","3.932,60","14.758,49",96
97,ADAILDO TAVARES DE SOUZA,EM EXERCÍCIO PEDREIRO,EM EXERCÍCIO PEDREIRO,"7.692,73","651,63","7.041,10",97
...,...,...,...,...,...,...,...
52681,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,EM EXERCÍCIO DATILOGRAFO,"2.147,28","257,58","1.889,70",52681
52704,ZIRLANDIA DE LUCENA PINHEIRO SOUZA,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,"1.492,40","84,63","1.407,77",52704
52712,ZOZIMO GARCIAS MELO,EM EXERCÍCIO CEC-3 - L1911/07 IMAC,EM EXERCÍCIO CEC-3 - L1911/07 IMAC,"4.670,53","1.549,36","3.121,17",52712
52723,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.302,00","97,65","1.204,35",52723
52733,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,APOSENTADO GESTOR DE POLITICAS PUBLICAS,"13.028,39","6.731,03","6.297,36",52733

In [5]:
#Tratar a Coluna Cargo

palavras_a_remover_0 = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO']
for palavra in palavras_a_remover_0:
    df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_18748\3213047085.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Cargo'] = df_tratar['Cargo'].str.replace(f'^{palavra}', '', regex=True)

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO CARGO EM COMISSAO - CAS-2,CARGO EM COMISSAO - CAS-2,"2.633,82","189,47","2.444,35",5
27,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO CEC-5 - L1688/05 ACREPREVIDENCIA,CEC-5 - L1688/05 ACREPREVIDENCIA,"5.812,23","1.034,80","4.777,43",27
43,ABRAAO ELIAS ABUGOCHE PAES LEME,EM EXERCÍCIO CARGO EM COMISSAO DE DIRECAO - DAE-2,CARGO EM COMISSAO DE DIRECAO - DAE-2,"17.529,67","4.471,79","13.057,88",43
96,ADAILDO SOARES DA SILVA,APOSENTADO MAJOR,MAJOR,"18.691,09","3.932,60","14.758,49",96
97,ADAILDO TAVARES DE SOUZA,EM EXERCÍCIO PEDREIRO,PEDREIRO,"7.692,73","651,63","7.041,10",97
...,...,...,...,...,...,...,...
52681,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO DATILOGRAFO,DATILOGRAFO,"2.147,28","257,58","1.889,70",52681
52704,ZIRLANDIA DE LUCENA PINHEIRO SOUZA,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,"1.492,40","84,63","1.407,77",52704
52712,ZOZIMO GARCIAS MELO,EM EXERCÍCIO CEC-3 - L1911/07 IMAC,CEC-3 - L1911/07 IMAC,"4.670,53","1.549,36","3.121,17",52712
52723,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.302,00","97,65","1.204,35",52723
52733,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO GESTOR DE POLITICAS PUBLICAS,GESTOR DE POLITICAS PUBLICAS,"13.028,39","6.731,03","6.297,36",52733

In [6]:
#Tratar a coluna Situação

palavras_a_remover_1 = df_tratar['Cargo']

# Aplicar a remoção das palavras à coluna 'Situação'
for palavra in palavras_a_remover_1:
    df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()
df_tratar

C:\Users\abner\AppData\Local\Temp\ipykernel_18748\3685544799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar['Situação'] = df_tratar['Situação'].str.replace(fr'\b{palavra}\b', '', regex=True, case=False).str.strip()

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
5,ABDIAS DAMASCENO DA SILVA,EM EXERCÍCIO,CARGO EM COMISSAO - CAS-2,"2.633,82","189,47","2.444,35",5
27,ABILIO DOS SANTOS VERAS,EM EXERCÍCIO,CEC-5 - L1688/05 ACREPREVIDENCIA,"5.812,23","1.034,80","4.777,43",27
43,ABRAAO ELIAS ABUGOCHE PAES LEME,EM EXERCÍCIO,CARGO EM COMISSAO DE DIRECAO - DAE-2,"17.529,67","4.471,79","13.057,88",43
96,ADAILDO SOARES DA SILVA,APOSENTADO,MAJOR,"18.691,09","3.932,60","14.758,49",96
97,ADAILDO TAVARES DE SOUZA,EM EXERCÍCIO,PEDREIRO,"7.692,73","651,63","7.041,10",97
...,...,...,...,...,...,...,...
52681,ZILMA MARIA MATOS VIANA,EM EXERCÍCIO,DATILOGRAFO,"2.147,28","257,58","1.889,70",52681
52704,ZIRLANDIA DE LUCENA PINHEIRO SOUZA,,EXONERADO/RESCISO ASSISTENTE EDUCACIONAL TEMPO...,"1.492,40","84,63","1.407,77",52704
52712,ZOZIMO GARCIAS MELO,EM EXERCÍCIO,CEC-3 - L1911/07 IMAC,"4.670,53","1.549,36","3.121,17",52712
52723,ZULEIDE CAMELI MESSIAS,EM EXERCÍCIO,VOGAL DE CRUZEIRO DO SUL 1 - JUCEAC,"1.302,00","97,65","1.204,35",52723
52733,ZULEIDE DE OLIVEIRA COUTO,APOSENTADO,GESTOR DE POLITICAS PUBLICAS,"13.028,39","6.731,03","6.297,36",52733

In [7]:
#excluir a coluna ID e salvar o arquivo Finalizado

df.drop(columns=['id'], inplace=True)

df.update(df_tratar)

df.to_csv('Bases/acre_boladao_FEV_2023_tratado.csv', index=False, sep=';')

In [8]:
df_tratar_2 = df_tratar[df_tratar['Líquido'].isnull()]
df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']
df_tratar_2

C:\Users\abner\AppData\Local\Temp\ipykernel_18748\1562671528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar_2['Líquido'], df_tratar_2['Bruto'], df_tratar_2['Desconto'], df_tratar_2['Cargo'] = df_tratar_2['Desconto'], df_tratar_2['Cargo'], df_tratar_2['Bruto'], df_tratar_2['Situação']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
6610,CARLA ODETE DE LIMA TORRES ARAUJO INATIVO P/ F...,,,"7.496,86","2.952,13","4.544,73",6610
20793,JACINTO GOMES FROTA INSTITUIDOR OPERADOR DE MA...,,,"2.359,67","825,25","1.534,42",20793
22281,JOAO BERNARDO DE LIMA INSTITUIDOR OPERADOR DE ...,,,"2.190,94","981,16","1.209,78",22281

In [24]:
df_tratar_2['Situação'] = df_tratar_2['Nome']
df_tratar_2

C:\Users\abner\AppData\Local\Temp\ipykernel_21492\569472362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tratar_2['Situação'] = df_tratar_2['Nome']

,Nome,Situação,Cargo,Bruto,Desconto,Líquido,id
2959,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO,ANDERSON DE ARAUJO SILVA EXONERADO/RESCISO,,"74,54","4,34","70,20",2959
3249,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDIDO,ANDREY CEZAR WINDSCHEID CRUZEIRO DE HOLL CEDIDO,,"34.321,03","12.206,29","22.114,74",3249
4905,ANTONIO PINTO DE LIMA JUNIOR CEDIDO,ANTONIO PINTO DE LIMA JUNIOR CEDIDO,,"2.156,72","738,91","1.417,81",4905
8432,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,DANGELA LIMA DE MENEZES OLIVEIRA EXONERADO/RES...,,"1.334,20","79,06","1.255,14",8432
8785,DAVID LAERTE VIEIRA CEDIDO,DAVID LAERTE VIEIRA CEDIDO,,"39.633,08","15.845,59","23.787,49",8785
12847,EVANDRO LUZIA TEIXEIRA CEDIDO,EVANDRO LUZIA TEIXEIRA CEDIDO,,"9.459,73","4.750,76","4.708,97",12847
15993,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,FRANCISCO JURANDIR DE LIMA VICTOR EXONERADO/RE...,,"11.106,13","2.709,17","8.396,96",15993
16233,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO,FRANCISCO RAILDO CARDOSO LEITAO CEDIDO,,"11.167,19","6.048,84","5.118,35",16233
16249,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO,FRANCISCO RAULINO SARAIVA DE FARIAS CEDIDO,,"5.169,08","2.004,30","3.164,78",16249
16560,GABRIEL ISAAC DO VALE ISRAEL CEDIDO,GABRIEL ISAAC DO VALE ISRAEL CEDIDO,,"10.068,32","3.806,61","6.261,71",16560
16594,GABRIELA LIMA GEBER EXONERADO/RESCISO,GABRIELA LIMA GEBER EXONERADO/RESCISO,,"586,80","162,37","424,43",16594
18236,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO,HERIKA DE ALENCAR TEIXEIRA BEZERRA CEDIDO,,"5.230,46","968,82","4.261,64",18236
18453,IARA GUEDES BEZERRA CEDIDO,IARA GUEDES BEZERRA CEDIDO,,"12.087,19","3.664,16","8.423,03",18453
18973,IRISNAILA LIMA BELEM CEDIDO,IRISNAILA LIMA BELEM CEDIDO,,"5.953,75","1.889,55","4.064,20",18973
20159,JANAINA GUEDES BEZERRA DOURADO CEDIDO,JANAINA GUEDES BEZERRA DOURADO CEDIDO,,"9.294,16","2.946,11","6.348,05",20159
22522,JOSE CLAUDIO SILVA DE SOUSA CEDIDO,JOSE CLAUDIO SILVA DE SOUSA CEDIDO,,"2.901,93","1.049,26","1.852,67",22522
25101,KEULY TAVARES QUEIROZ COSTA CEDIDO,KEULY TAVARES QUEIROZ COSTA CEDIDO,,"11.667,19","6.595,13","5.072,06",25101
26504,LUCIA NASSERALA VERA DA COSTA CEDIDO,LUCIA NASSERALA VERA DA COSTA CEDIDO,,"11.667,19","7.463,85","4.203,34",26504
26915,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO,LUIS ANDRE PINTO DE LIMA EXONERADO/RESCISO,,"5.618,49","967,53","4.650,96",26915
28747,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO,MARCUS ALEXANDRE MEDICI AGUIAR VIANA DA CEDIDO,,"10.485,40","3.003,77","7.481,63",28747
36782,MARILENE DA SILVA LIMA CEDIDO,MARILENE DA SILVA LIMA CEDIDO,,"12.645,54","4.661,38","7.984,16",36782
37524,MARLY DA COSTA ALENCAR SILVA CEDIDO,MARLY DA COSTA ALENCAR SILVA CEDIDO,,"12.087,19","6.987,82","5.099,37",37524
38284,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCISO,MIRELLA UCHOA PEREIRA DE SOUZA EXONERADO/RESCISO,,"5.614,04","961,38","4.652,66",38284
38811,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCISO,NARAH GLEID MAZZARO NASCIMENTO EXONERADO/RESCISO,,"5.744,55","1.088,38","4.656,17",38811
40655,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO,PAULO SILVA CESARIO ROSA EXONERADO/RESCISO,,"5.361,58","951,89","4.409,69",40655
40836,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,PEDRO NOGUEIRA BRILHANTE JUNIOR CEDIDO ESPECIA...,,"13.487,19","5.232,13","8.255,06",40836
41144,RAFAEL MARCOS COSTA PIMENTEL CEDIDO,RAFAEL MARCOS COSTA PIMENTEL CEDIDO,,"30.476,03","16.205,65","14.270,38",41144
42949,REJANEA MOURA DE BRITO SOUZA CEDIDO,REJANEA MOURA DE BRITO SOUZA CEDIDO,,"12.087,19","6.604,19","5.483,00",42949
43601,RODOLFO QUIROGA ELIAS CEDIDO,RODOLFO QUIROGA ELIAS CEDIDO,,"9.821,00","3.906,14","5.914,86",43601
44956,SABRINA SILVA DE SOUZA JUCA CEDIDO,SABRINA SILVA DE SOUZA JUCA CEDIDO,,"6.782,78","1.475,48","5.307,30",44956
45360,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,SANIA FRANCISCA RODRIGUES DA SILVA EXONERADO/R...,,"7.514,04","1.936,10","5.577,94",45360
46092,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,SHELLEY TORRES DE OLIVEIRA CEDIDO ESPECIALISTA...,,"9.771,30","3.063,28","6.708,02",46092
47664,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO,THAIS ALICE BASTOS DA COSTA MAIA CEDIDO,,"4.010,68","1.071,93","2.938,75",47664
47811,THIAGO ANDRE REGO CHAVES CEDIDO,THIAGO ANDRE REGO CHAVES CEDIDO,,"9.771,30","5.266,85","4.504,45",47811
48453,VALMIRA BRAGA E SILVA EXONERADO/RESCISO,VALMIRA BRAGA E SILVA EXONERADO/RESCISO,,"5.614,04","961,38","4.652,66",48453
48537,VANDER MAGALHAES NICACIO CEDIDO,VANDER MAGALHAES NICACIO CEDIDO,,"11.167,19","6.204,91","4.962,28",48537
49224,WAGNER SOARES DE SOUZA CEDIDO,WAGNER SOARES DE SOUZA CEDIDO,,"10.691,30","6.064,93","4.626,37",49224

In [41]:
kargos = pd.read_csv('saida.csv')
kargos = pd.DataFrame(kargos)
kargos = [a for a in kargos['Cargo']]

#Tratar a coluna Nome

palavras_a_manter_2 = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO', 'EXONERADO/RESCISO', 'CEDIDO']

lista_nomes = ['APOSENTADO', 'EM EXERCÍCIO', 'EM FÉRIAS', 'PENSIONISTA', 'AFASTADO/LICENCIADO', 'EXONERADO/RESCISO', 'CEDIDO']
contador = 0
for i in df_tratar_2['Situação']:
    i = i.split()

    if lista_nomes in i:
        i.remove('EXONERADO/RESCISO')

    print(i)




'''
colunas=[]
for nome in kargos:
    for palavra in palavras_a_manter_2:
        nome = nome.replace(palavra, "*"+palavra+"*")

        coluna = nome.split("*")

        coluna = [c.strip() for c in coluna]
        colunas.append(coluna)
'''

['ANDERSON', 'DE', 'ARAUJO', 'SILVA', 'EXONERADO/RESCISO']
['ANDREY', 'CEZAR', 'WINDSCHEID', 'CRUZEIRO', 'DE', 'HOLL', 'CEDIDO']
['ANTONIO', 'PINTO', 'DE', 'LIMA', 'JUNIOR', 'CEDIDO']
['DANGELA', 'LIMA', 'DE', 'MENEZES', 'OLIVEIRA', 'EXONERADO/RESCISO', 'CARGO', 'EM', 'COMISSAO', '-', 'CEC-1']
['DAVID', 'LAERTE', 'VIEIRA', 'CEDIDO']
['EVANDRO', 'LUZIA', 'TEIXEIRA', 'CEDIDO']
['FRANCISCO', 'JURANDIR', 'DE', 'LIMA', 'VICTOR', 'EXONERADO/RESCISO']
['FRANCISCO', 'RAILDO', 'CARDOSO', 'LEITAO', 'CEDIDO']
['FRANCISCO', 'RAULINO', 'SARAIVA', 'DE', 'FARIAS', 'CEDIDO']
['GABRIEL', 'ISAAC', 'DO', 'VALE', 'ISRAEL', 'CEDIDO']
['GABRIELA', 'LIMA', 'GEBER', 'EXONERADO/RESCISO']
['HERIKA', 'DE', 'ALENCAR', 'TEIXEIRA', 'BEZERRA', 'CEDIDO']
['IARA', 'GUEDES', 'BEZERRA', 'CEDIDO']
['IRISNAILA', 'LIMA', 'BELEM', 'CEDIDO']
['JANAINA', 'GUEDES', 'BEZERRA', 'DOURADO', 'CEDIDO']
['JOSE', 'CLAUDIO', 'SILVA', 'DE', 'SOUSA', 'CEDIDO']
['KEULY', 'TAVARES', 'QUEIROZ', 'COSTA', 'CEDIDO']
['LUCIA', 'NASSERALA', 'VERA', 'DA', 'COSTA', 'CEDIDO']
['LUIS', 'ANDRE', 'PINTO', 'DE', 'LIMA', 'EXONERADO/RESCISO']
['MARCUS', 'ALEXANDRE', 'MEDICI', 'AGUIAR', 'VIANA', 'DA', 'CEDIDO']
['MARILENE', 'DA', 'SILVA', 'LIMA', 'CEDIDO']
['MARLY', 'DA', 'COSTA', 'ALENCAR', 'SILVA', 'CEDIDO']
['MIRELLA', 'UCHOA', 'PEREIRA', 'DE', 'SOUZA', 'EXONERADO/RESCISO']
['NARAH', 'GLEID', 'MAZZARO', 'NASCIMENTO', 'EXONERADO/RESCISO']
['PAULO', 'SILVA', 'CESARIO', 'ROSA', 'EXONERADO/RESCISO']
['PEDRO', 'NOGUEIRA', 'BRILHANTE', 'JUNIOR', 'CEDIDO', 'ESPECIALISTA', 'EXEC', '-']
['RAFAEL', 'MARCOS', 'COSTA', 'PIMENTEL', 'CEDIDO']
['REJANEA', 'MOURA', 'DE', 'BRITO', 'SOUZA', 'CEDIDO']
['RODOLFO', 'QUIROGA', 'ELIAS', 'CEDIDO']
['SABRINA', 'SILVA', 'DE', 'SOUZA', 'JUCA', 'CEDIDO']
['SANIA', 'FRANCISCA', 'RODRIGUES', 'DA', 'SILVA', 'EXONERADO/RESCISO']
['SHELLEY', 'TORRES', 'DE', 'OLIVEIRA', 'CEDIDO', 'ESPECIALISTA', 'EXEC', '-']
['THAIS', 'ALICE', 'BASTOS', 'DA', 'COSTA', 'MAIA', 'CEDIDO']
['THIAGO', 'ANDRE', 'REGO', 'CHAVES', 'CEDIDO']
['VALMIRA', 'BRAGA', 'E', 'SILVA', 'EXONERADO/RESCISO']
['VANDER', 'MAGALHAES', 'NICACIO', 'CEDIDO']
['WAGNER', 'SOARES', 'DE', 'SOUZA', 'CEDIDO']

'\ncolunas=[]\nfor nome in kargos:\n    for palavra in palavras_a_manter_2:\n        nome = nome.replace(palavra, "*"+palavra+"*")\n\n        coluna = nome.split("*")\n\n        coluna = [c.strip() for c in coluna]\n        colunas.append(coluna)\n'

In [ ]:
df_tratar_2